@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Hegarty&family=Frijole&display=swap');
h1 {
    font-family: "Frijole", system-ui;
    color: rgb(52, 187, 255);
}
body {
    background-color: rgb(203, 239, 255);
}
.card {
    background-color: rgb(192, 236, 255);
}
input[type="text"] {
    background-color:  white;
}
#btn-nova-tarefa {
    background-color: rgb(52, 187, 255);
    border: 1px solid rgb(52, 187, 255);
}

#btn-nova-tarefa:hover {
    background-color: rgb(185, 234, 255);
    color: rgb(0, 170, 255);
}

.list-group-item {
    background-color: rgb(185, 234, 255);
    border: 1px solid rgb(155, 215, 241);
}

.btn-excluir {
    color: white;
 background-color: rgb(52, 187, 255);
 border: 1px solid rgb(52, 187, 255);
}

.btn-excluir:hover {
    color: rgb(52, 187, 255);
    background-color: rgb(185, 234, 255);
    border: 1px solid rgb(52, 187, 255);
   }

.btn-concluir {
    color: rgb(52, 187, 255);
    background-color: white;
    border: 1px solid rgb(52, 187, 255);
}

.btn-concluir:hover {
    color: rgb(52, 187, 255);
    background-color: rgb(185, 234, 255);
    border: 1px solid rgb(52, 187, 255);
}

.dragging {
    opacity: 0.5;
    background: #e9ecef;
}